* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.page_body {
  padding: 20px;
}

.user_details {
  align-items: center;
  width: 100%;
}

.user_data {
  align-items: center;
  width: 80%;
  height: 100px;
}

.user_image {
  width: 100px;
}

.total_posts {
  align-self: flex-end;
}

.bio_label {
  margin-bottom: 30px;
}

.post_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post_interactions {
  align-self: flex-end;
  width: 150px;
}

.post_button_container,
.pagination_button_container {
  display: flex;
  justify-content: center;
}

.posts_button,
.pagination_button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.user_data,
.user_bio_container,
.post_card,
.comments_container,
.complete_post {
  padding: 12px;
  border: 1px solid black;
}

ul .user_container:not(:first-child),
.user_bio_container,
.post_text,
.post_card,
.posts_button,
.pagination_button,
.post_complete_text {
  margin-top: 12px;
}

.user_details,
.user_data,
.post_interactions,
.post_head {
  display: flex;
  justify-content: space-between;
}
